<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responsive Tic Tac Toe</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">X</div>
        <div class="col">O</div>
        <div class="col">X</div>
    </div>
    <div class="row">
        <div class="col">O</div>
        <div class="col">X</div>
        <div class="col">O</div>
    </div>
    <div class="row">
        <div class="col">X</div>
        <div class="col">O</div>
        <div class="col">X</div>
    </div>
</div>
</body>
</html>